body{
    background-color: rgb(231, 255, 245);
    padding: 0;
    margin: 0;
}
header {
    background-color: forestgreen;
    text-align: left;
}

.card {
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: limegreen;
    background-color: white;
    font: arial;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 25px 27px 25px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
}
#secondary-div{
    border-left-color:rgb(245, 245, 49);
}
h1 {
    padding-top: 0px;
    font-size: 19px;
    margin-left: 15px;
}

p {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar {
    background-color:green;
    display:flex
}
.navbar .dropdown:hover{
    background-color: forestgreen;
}

.dropdown-content a:hover {
    background-color: lightgreen;
}
.navbar a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: rgb(10, 16, 16);
}
.dropdown .dropbtn{
    font-size:18px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color:forestgreen;
    padding: 5px 59px 5px 10px;
    background-color: inherit;
}
.dropbtn{
    padding-right: 50px;
}
.dropdown-content{
    position: absolute;
    background-color: forestgreen;
    min-width: 100px;
    
    display:none;
    border-right: 17px;
}
.dropdown-content a{
    display: block;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover{
    color: lightgreen;
}